.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: black;
}

h1 a{
    text-decoration: none;
    color: white;
}

.links{
    display: flex;
    flex-direction: row;
}

.links li{
    list-style: none;
    margin-right: 10px;
    font-size: 30px;
    border: 1px white solid;
}

.links li a{
    text-decoration: none;
    color: white;
} 

.itemCount{
    width: fit-content;
    background-color: black;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.carrito{
    margin-left: 30px;
}

.itemCount span{
    color: white;
}

.brand{
    font-size: 30px;
}

.drinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drinks img{
    width: 350px;
}

.container-item{
    margin-top: 10px;
}
